<div class="toolbar"
     role="banner">
  <span class="toolbar-title">MyApp</span>
  <div class="spacer"></div>
  <div class="toolbar-menu"
       role="menu">
    <a class="toolbar-menu-item"
       role="menuitem"
       routerLink="one"
       routerLinkActive="active"
       aria-label="Page One">
      ONE
    </a>
    <a class="toolbar-menu-item"
       role="menuitem"
       routerLink="two"
       routerLinkActive="active"
       aria-label="Page Two">
      TWO
    </a>
  </div>
</div>