@import "../../settings.scss";

.toolbar {
  align-items: center;
  background-image: linear-gradient(to right, #6600ff, #6600ff, #6600ff, #5300cf, #5300cf, #5300cf);
  display: flex;
  height: $toobar-height;
  left: 0;
  padding: 0 $padding-default 0 $padding-default;
  position: absolute;
  right: 0;
  top: 0;
}

.toolbar-menu {
  margin: 0 $padding-default 0 $padding-default;
}

.toolbar-menu-item {
  color: white;
  display: inline-block;
  font-size: 18px;
  line-height: $toobar-height;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 80px;
}

.toolbar-menu-item.active {
  @extend .toolbar-menu-item;
  background-color: #7127df;
}

.toolbar-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
}
