@import "./settings.scss";

html {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

app-root {
  display: grid;
  grid-template-areas: toolbar, content;
  grid-template-columns: 1;
  grid-template-rows: $toobar-height auto;
}

.spacer {
  flex: 1;
}

@media screen and (max-width: 800px) {
}
